# Django
SECRET_KEY=tu_secret_key_aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Keycloak
KEYCLOAK_SERVER_URL=http://localhost:8080/
KEYCLOAK_REALM=global-exchange
KEYCLOAK_CLIENT_ID=django-app
KEYCLOAK_CLIENT_SECRET=tu_client_secret
